  
@media (max-width: 1200px) {
    .modal-menu {
        position: absolute;
        background-color: $text-color;
        top: 100px;
        left: 15px;
        width: 130px;
        height: 200px;
        padding: 10px;
    }

    .modal-menu_list {
        display: flex;
        flex-direction: column;
    }
.modal-menu_item{
        height: 30px;
        padding: 10px 0px;
        @include fonts(500);
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: $my-accent;
        fill: $fill-color;
    
        &:hover {
            border-bottom: solid 3px $accent-link;
        }
}
}