$ghost-color: #F7F7F7;
$my-accent: #889099;
$text-color: #22252E;
$fill-color: #465991;
$accent-color: #323642;
$my-color: #FFFFFF;
$black-color: #000000;
$accent-link: #4CB649;
$orange-color: #FF8D00;
$red-color:#F24458;
$myAcent-color: #EBECED;

body {
    position: relative;
    background: $my-color;
    font-style: normal;
    line-height: normal;
    border: none;
    box-sizing: unset;

}

body::-webkit-scrollbar {
    width: 0;
}

h1,
h2,
h3,
h4 {
    font-family: roboto, sans-serif;
    font-weight: 700-bold;
}

body,
h1,
h2,
h3,
h4,
ul,
li,
p {
    margin: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    fill: $accent-color;

}

ul {
    padding-inline-start: 0px;
    margin-block-end: 0em;
    margin-block-start: 0em;
    padding: 0px;
}



@media (min-width:1201px) {
.container {
        max-width: 1200px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        // padding: 0px 15px;
    }

}

@media (max-width: 1200px) {
.container {
        max-width: 1200px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 15px;
    }
}

@media (max-width: 768px) {
.container {
        max-width: 1200px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 20px;
    }

}