

@import './components//button';
@import './components//variables';



.nav-menu{
    max-width: 1600px;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left:180px;
   
}
.nav-menu_logo{
    width: 136px;
    height: 22px;
    margin-right: 243.5px;
    font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: $black-color;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
 .nav-menu_list{
    display: flex;
    }

.nav-menu_item{
    height: 30px;
    padding: 6px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $accent-color;
    fill: $fill-color;
        &:hover {
                border-bottom:solid 3px $accent-link;
            }
        }
.nav-menu_item:nth-child(-n + 3){
        margin-right: 30px;
            }
.nav-menu_item:nth-last-child(1) {
            margin-right: 264px;
  }

.hat-container{  
    display: flex;
    box-sizing: border-box;
    width: 1200px;
    height: 400px;
    margin-bottom: 30px;
    background: $my-color;
    border: 1px solid #D7D8D9;
    border-radius: 6px;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.101961));
}
.hat-container_img{
    width: 600px;
    height: 400px;
    
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.hat-container_info{
    padding: 60px 60px 45px 60px;
}

.hat-container_info_title{
    width: 480px;
    height: 136px;
    margin-bottom: 84px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    color: $text-color;
}

.hat-container_info_name{
    height: 22px;
    margin-bottom: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $accent-color;
}

.hat-container_info_date,
.hat-container_info_line,
.hat-container_info_amount{
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $my-accent;

}

.hat-container_info_line{
    padding: 0px 8px;
}

.hat-container_info_hash{
   height: 16px;
   margin-bottom: 10px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 16px;
   letter-spacing: 0.5px;
   text-transform: uppercase;
   color: $accent-link; 
}

.hat-container_info_svg{
    height: 16px;
    fill: $my-accent;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.hat-container_info_amount{
    padding-left: 11.67px;
}
.nav-tags{
    width: 1200px;
    height: 60px;
    display: flex;
    padding: 0px 32px;
    margin-bottom: 40px;
    align-items: center;
    background: $ghost-color;
    border-radius: 4px;
}

.nav-tags_list{
    display: flex;
    align-items: center;
}

.nav-tags_item:first-child{
    height: 18px;
    padding-right: 43px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $accent-color;
}

.nav-tags_item{
    height: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $accent-link;
}
.nav-tags_item:nth-last-child(-n + 7){
    margin-right: 34px;
}
.nav-tags_item:last-child {
    margin-right: 234px;
}

.nav-tags_team{
    height: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $accent-color;
}
.nav-tags_team:first-child{
    margin-right: 40px;
}

.post-name{
    width: 190px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 44px;
    color: $text-color;
}

.post-list{
    width: 780px;
    height: 211px;
    padding-top: 20px;
    
}
.post-item{
    width: 730px;
    padding: 30px 0px;
    background-color: $my-color;
    border-bottom: solid 1px $myAcent-color;
}

.post-item_block{
    width: 740px;
    height: 211px;
    display: flex;
}

.post-item_img{
    width: 280px;
    height: 180px;  
}

.post-info{
    padding: 0px 0px 0px 40px;
}

.post-info_title{
    width: 432px;
    margin-bottom: 7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    color: $text-color;
}

.post-info_name{
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $accent-color;
}

.post-info_date,
.post-info_line,
.post-info_amount{
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $my-accent;
}

.post-info_line{
    padding: 0px 11px;
    margin-bottom: 8px;
}

.post-info_hash{
    height: 16px;
    margin-bottom: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $accent-link;
}

.post-info_svg{
    fill: $my-accent;
    display: flex;
    align-items: center;
}
.post-info_amount{
    padding-left: 10px;
}
.post-item_bottom-line{
    width: 740px;
    height: 5px;
    background: $myAcent-color;
}

.search-post{
    display: flex;
}
.block-posts{
    display: flex;
}

// ------------------------------------------
.search-post_block-constainer:nth-child(-n + 3){
    border-bottom: solid 1px $myAcent-color;
}

.search-post_block-constainer:nth-child(3){
    margin-top: 60px;
    margin-bottom: 32px;
}

.search-post_block{
    margin-left: 20px;
    padding-left: 59px;
    width: 400px;
    height: 1697px;
    display: flex;
    border-left: solid 1px $myAcent-color;
}

.search-post_form,
.search-post_input{
    width: 340px;
    height: 59px; 
}
.search-post_input{
   
    background: $my-color;
    border: 1px solid #D7D8D9;
    border-radius: 4px;
}
input[type="text"] {
    color: $text-color;
    transition: all 0.25s ease;
    outline: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    &::placeholder{
    color: $text-color;
    }

}
.search-post_form{
    position: relative;
    margin-bottom: 32px;
   
}
.search-post_container{
    width: 340px;
    height: 59px;
    margin-bottom: 32px;
}

.search-post_input{
    padding: 15px 58px;
}


.search-post_block-title{
    display: flex;
    align-items: center;
    fill: $accent-link;
}
.search-post_title{
    height: 34px;
    padding-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    color: $text-color;
}
.search-post_list{
    margin-top: 35px;
    
}

.search-post_item::before{
    list-style: inside;
    content: "\2022";
    color: $accent-link;
    margin-left: -3px;
    width: 15px;
    font-weight: bold;
    display: inline-block;
}
.search-post_item {
    display: flex;
    width: 330px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $accent-color;
}
.search-post_item:nth-child(-n + 4){
    margin-bottom: 10px;
}
.search-post_item:last-child{
    padding-bottom: 30px;
}

.search-post_block-constainer_title{
    height: 34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    color: $text-color;
}

.search-post_block-img:first-child{
    padding-bottom: 51px;
}
.search-post_block-img:last-child {
    display: flex;
    padding-top: 15px;

}

.search-post_block-btn{
    width: 260px;
    height: 40px;
    margin: 40px 50% 0px;
    border-radius: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border: 1px solid $accent-link;
    background-color: $my-color;
    color: $accent-link;

    &:hover{
    color: $my-color;
    background-color: $accent-link;
    }
}

// -------------------------------------------


.pricing{
    height: 800px;
    padding: 100px 210px 53px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 158px;
    background: linear-gradient(135deg, #3D4251 0%, #272B35 100%);
}


.pricing-title{
    height: 64px;
    margin-bottom: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.5px;
    color: $my-color;
}
.pricing-title_list{
    display: flex;

}

.pricing-title_item{
    width: 380px;
    height: 340px;
    display: flex;
    padding: 48px 0px 20px;
    justify-content: center;
    background: $my-color;
    border: 1px solid $myAcent-color;
    border-radius: 6px;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.501961));
     &:hover{
        transform: scale(1.03); 
    }
}

.pricing-title_item:nth-child(2){
    margin: 0px 20px;
}
.pricing-title_item-title{
    height: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $accent-color;
}

.pricing-title_block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing-title_item-line{
    width: 24px;
    height: 3px;
    margin: 10px 0px;
    background: $accent-link;
}

.pricing-title_item-current{
    height: 66px;
    display: flex;
}

.pricing-title_item-sumbol,
.pricing-title_item-sumbol-slash{
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: $text-color;
}
.pricing-title_item-sumbol-slash{
    padding-left: 10px;
    padding-top: 30px;
}
.pricing-title_item-sumbol{
    padding-right: 10px;
}
.pricing-title_item-current_line{
    width: 200px;
    height: 1px;
    background: $myAcent-color;
    margin-bottom: 20px;
}

.pricing-title_item-number{
    height: 66px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -1.5px;
    color: $text-color;
}

.pricing-title_item-current_title{
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $accent-color;
}


.pricing-title_item-current_sale{
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-decoration-line: line-through;
    color: $red-color;
}
.pricing-title_item-sumbol-precent{
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: $accent-color;
}

.pricing_sponsor{
    display: flex;
    margin-top: 51px;
    align-items: center;
    margin-bottom: 10px;
}
.pricing_title{
    height: 28px;
    padding-right: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: $my-color;
}
.pricing_list{
    display: flex;
}
.pricing_item{
    fill: $my-accent;
    &:nth-child(-n + 6){
      margin-right: 37px;
    }
}
.pricing_svg{
    width: 100px;
    height: 100px;
}

.pricing-block{
    display: flex;

}
.pricing-block_link{
    height: 24px;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $accent-link;
    fill: $accent-link;
    &:first-child{
        margin-right: 40px;
    }
}

.pricing-block_title{
    padding-right: 12px;
}

// --------------------------------

.footer{
    height: 620px;
    display: flex;
    
}
.footer_title{
    height: 33px;
    padding-top: 84px;
    padding-bottom: 88px;
    padding-right: 966px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    color: $black-color;
}


.footer_block-title{
    padding-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $accent-color;
}

.footer_block-item_Company,
.footer_block-item_programs,
.footer_block-item_learn-more,
.footer_block-item_LEGAL,
.footer_block-item_ABOUT{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: $my-accent;

}
.footer_block-item_ABOUT:nth-child(2){
padding-top: 14px;
padding-bottom: 14px;
}

.footer_block-list_Company{
    width: 154px;
    height: 278px;
    margin-right: 46px;
}
.footer_block-title_programs{
    width: 164px;
    height: 64px;
    margin-right: 36px;
    margin-bottom: 58px;
}
.footer_block-title_learn-more{
    width: 140px;
    height: 118px;
}

.footer_block-title_LEGAL {
    width: 131px;
    height: 118px;
    margin-right: 69px;
}

.footer_block-title_ABOUT {
    width: 600px;
    height: 200px;
    
}

.footer_title_title{
    width: 54px;
    height: 18px;
    margin-top: 150px;
    margin-bottom: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $accent-color;
}

.footer_cocial{
   display: flex;
    width: 333px;
    height: 73px;
}

.footer_svg{

    fill: $accent-color;
    &:nth-child(-n + 5){
        margin-right: 31px;
    }
}

.window{
    width: 1600px;
    height: 40px;
    background: $text-color;
}

.warning_block{
    display: flex;
    fill: $orange-color;
    align-items: center;
        justify-content: center;
}

.warning_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: $orange-color;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
}

.warning_address{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $my-accent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
}

.is-hidden{
  visibility: hidden;  
}